/* Enter your Styles below! */


body { 
	font-family: 'Montserrat', sans-serif;
	background-color: #47D1C8;
	width: 80%;
	margin: auto;
}

h2, h3{
	font-family: 'McLaren', cursive;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-weight: bold;
	padding-top: 10px;
}

header {
	margin-bottom: 20px;
}

a { 
	color: white;
	text-decoration: none;
	 }

p {

}

.contact {
	padding-top: 10px;
}

ul {
	text-align: center;
	margin-top: 50px;
}

li {
	margin: 10px 25px;
}

.button {
  background-color: #FF7D45;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.homepage {
	display: grid;
	grid-template-columns: 1fr;
	padding-top: 50px;
}

.homepage-logo {
	margin: auto;
	align-content: center;
}

footer {
	padding: 50px 0px;
	color: white;
}

.left {
	text-align:left;
	float:left;
}

.right {
	float:right;
	text-align:right;
}

.center {
	text-align:center;
}

.socialmedia {
	display: flex;
	align-items: center;
}

.socialmedia img {
	padding-right: 5px;
}

@media only screen and (min-width: 768px) {
	body {
		
	}
}

@media only screen and (min-width: 1024px) {
	body {
		
	}
}

@media only screen and (min-width: 1200px) {
	body {
		
	}
}