/* Enter your Styles below! */


body { 
	font-family: 'Montserrat', sans-serif;
	background-color: #47D1C8;
}

main {
}

.home {
	background-image: url(../image/icecream-homepg.png)
}

h1 img{
	width: 100%;
}

h2, h3{
	font-family: 'McLaren', cursive;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-weight: bold;
	padding-top: 10px;
}

a { 
	color: white;
	text-decoration: none;
	 }

.paragraph {
	padding-bottom: 30px;
	padding-top: 10px;
}

.contact {
	padding-top: 10px;
}

.button-nav {
	text-align: center;
	margin-top: 50px;
}


header {
	margin-bottom: 20px;
	display: grid;
	grid-template-columns: 1fr;
	padding-top: 50px;
	width: auto;
}

.button {
  background-color: #FF7D45;
  border: none;
  color: white;
  margin: 5px 25px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.header-logo {
	margin: auto;
	align-content: center;
	width: auto;
}

.about {
	padding-top: 50px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 50px;
	width: 80%;
	margin: auto;
}

.about-img{
	width: 100%;
}

footer {
	padding: 50px 0px;
	color: white;
	display: grid;
	grid-template-columns: auto auto auto;
	width: 80%;
	margin: auto;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.socialmedia {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-top: 5px;
}

@media only screen and (max-width: 850px) {
	body {

	}

	h1 img{
		max-width: 450px;
	}

	header {
		width: 100%;
	}

	.button {
		display: flex;
		justify-content: center;
		width: 50%;
		margin: 10px auto;
		max-width: 200px;
	}

	footer {
		display: grid;
		grid-template-columns: auto;
	}

	.left {
		text-align: center;
		padding-bottom: 50px
	}

	.right {
		text-align: center;
		padding-top: 50px
	}

	.socialmedia {
		justify-content: center;
	}
}

@media only screen and (min-width: 1240px) {
	body {
		
	}

	.hide-desktop {
		display: none;
	}

}

@media only screen and (min-width: 1200px) {
	body {
		
	}
}